In [4]:
import pandas as pd
import numpy as np
import pulp
from ast import literal_eval
from IPython.display import display

In [5]:
data = pd.read_csv('/home/vishal/Documents/Fantasy-Prediction/data/MI_vs_DC.csv', converters={"Match_points": literal_eval})
data

,Player,Team,Role,Cost,Match_points
0,Rohit Sharma,MI,BAT,9.5,"[18, 107, 22, 96, 20, 63, 3, 46, 23, 8]"
1,De Kock,MI,WK,9.0,"[42, 33, 19, 10, 99, 56, 75, 121, 80, 95, 12, ..."
2,S.Yadav,MI,BAT,9.0,"[23, 59, 2, 32, 37, 106, 79, 23, 2, 20, 50, 11..."
3,Ishan Kishan,MI,WK,9.5,"[131, 35, 48, 2, 38, 4, 12, 96, 47, 34, 98, 42]"
4,S.Tiwary,MI,BAT,8.0,"[51, 28, 4, 44, 17, 4, 5]"
5,Hardik Pandya,MI,ALL,9.0,"[22, 50, 21, 41, 46, 46, 2, 30, 14, 4, 88, 25]"
6,Kieron Pollard,MI,ALL,8.5,"[25, 51, 101, 62, 43, 36, 16, 12, 47, 4, 18, 3..."
7,Krunal Pandya,MI,ALL,9.0,"[30, 5, 4, 29, 55, 14, 76, 6, 46, 14, 5, 15, 2..."
8,Pattinson,MI,BALL,8.0,"[50, 54, -2, 54, 54, 56, -2, 48, 6, 6]"
9,Rahul Chahar,MI,BALL,9.0,"[37, 54, 29, 54, 12, 29, 10, 58, 54, 56, -2, 3..."
10,Boult,MI,BALL,9.5,"[29, 62, 54, 33, 54, 54, 35, 29, 6, 124, 2, 35..."
11,Bumrah,MI,BALL,10.0,"[30, 54, 0, 58, 50, 114, 4, 31, 81, 54, 2, 93,..."
12,Coulter-Nile,MI,BALL,8.5,"[23, 40, 29, 29, 5]"
13,P.Shaw,DC,BAT,9.0,"[26, 87, 6, 90, 55, 27, 17, 2, 2, 10, 16, 23]"
14,Shikhar Dhawan,DC,BAT,8.5,"[2, 44, 42, 44, 47, 18, 89, 79, 145, 144, 11, ..."
15,Hetmeyer,DC,BAT,8.0,"[16, 12, 29, 21, 25, 84, 16, 16, 23, 16]"
16,Shreyas Iyer,DC,BAT,9.5,"[57, 31, 23, 119, 24, 38, 59, 72, 30, 20, 56, ..."
17,Rishabh Pant,DC,WK,9.0,"[47, 68, 45, 57, 64, 17, 39, 43, 45, 27, 27]"
18,Marcus Stoinis,DC,ALL,9.5,"[126, 10, 16, 24, 83, 101, 38, 23, 33, 13, 56,..."
19,Axar Patel,DC,ALL,9.0,"[41, 39, 17, 58, 62, 37, 49, 33, 29, 23, 11, 4]"
20,Ashwin,DC,BALL,8.5,"[58, -2, 37, 56, 29, 41, 2, 35, 14, 31, 22, 33]"
21,Rabada,DC,BALL,10.0,"[62, 87, 82, 23, 114, 87, 62, 29, 37, 54, 72, ..."
22,Daniel Sams,DC,ALL,7.5,"[12, 0, 2]"
23,Nortje,DC,BALL,8.0,"[7, 56, 13, 87, 56, 29, 4, 54, 58, 54, 28, 25,..."
24,Mohit Sharma,DC,BALL,8.0,[23]
25,Amit Mishra,DC,BALL,8.5,"[14, 54, 29]"
26,Avesh Khan,DC,BALL,7.5,[0]
27,Ishant Sharma,DC,BALL,8.5,[4]
28,H Patel,DC,BALL,8.5,"[62, 0, 46, 2]"
29,Alex Carey,DC,WK,7.5,"[26, 20, 16]"
30,Rahane,DC,BAT,8.5,"[22, 14, 13, 10, 35, 93]"
31,Tushar Deshpande,DC,BALL,7.5,"[52, 27, -2, 11, 22]"

In [6]:
def compute_weighted_points(points_vector, alpha = 0.20):
    
    weights = np.exp(list(reversed(np.array(range(1, len(points_vector)+1))*alpha * -1)))
    exponential_weighted_average = np.average(np.array(points_vector), weights = weights)
    return exponential_weighted_average

data['weighted_player_points'] = data['Match_points'].apply(compute_weighted_points)
data

,Player,Team,Role,Cost,Match_points,weighted_player_points
0,Rohit Sharma,MI,BAT,9.5,"[18, 107, 22, 96, 20, 63, 3, 46, 23, 8]",32.262790
1,De Kock,MI,WK,9.0,"[42, 33, 19, 10, 99, 56, 75, 121, 80, 95, 12, ...",53.875599
2,S.Yadav,MI,BAT,9.0,"[23, 59, 2, 32, 37, 106, 79, 23, 2, 20, 50, 11...",47.336002
3,Ishan Kishan,MI,WK,9.5,"[131, 35, 48, 2, 38, 4, 12, 96, 47, 34, 98, 42]",51.141609
4,S.Tiwary,MI,BAT,8.0,"[51, 28, 4, 44, 17, 4, 5]",17.149272
5,Hardik Pandya,MI,ALL,9.0,"[22, 50, 21, 41, 46, 46, 2, 30, 14, 4, 88, 25]",33.447745
6,Kieron Pollard,MI,ALL,8.5,"[25, 51, 101, 62, 43, 36, 16, 12, 47, 4, 18, 3...",30.501393
7,Krunal Pandya,MI,ALL,9.0,"[30, 5, 4, 29, 55, 14, 76, 6, 46, 14, 5, 15, 2...",17.597841
8,Pattinson,MI,BALL,8.0,"[50, 54, -2, 54, 54, 56, -2, 48, 6, 6]",25.567131
9,Rahul Chahar,MI,BALL,9.0,"[37, 54, 29, 54, 12, 29, 10, 58, 54, 56, -2, 3...",26.899936
10,Boult,MI,BALL,9.5,"[29, 62, 54, 33, 54, 54, 35, 29, 6, 124, 2, 35...",48.843074
11,Bumrah,MI,BALL,10.0,"[30, 54, 0, 58, 50, 114, 4, 31, 81, 54, 2, 93,...",60.236426
12,Coulter-Nile,MI,BALL,8.5,"[23, 40, 29, 29, 5]",23.075735
13,P.Shaw,DC,BAT,9.0,"[26, 87, 6, 90, 55, 27, 17, 2, 2, 10, 16, 23]",21.244332
14,Shikhar Dhawan,DC,BAT,8.5,"[2, 44, 42, 44, 47, 18, 89, 79, 145, 144, 11, ...",52.295773
15,Hetmeyer,DC,BAT,8.0,"[16, 12, 29, 21, 25, 84, 16, 16, 23, 16]",25.119501
16,Shreyas Iyer,DC,BAT,9.5,"[57, 31, 23, 119, 24, 38, 59, 72, 30, 20, 56, ...",34.660832
17,Rishabh Pant,DC,WK,9.0,"[47, 68, 45, 57, 64, 17, 39, 43, 45, 27, 27]",38.053160
18,Marcus Stoinis,DC,ALL,9.5,"[126, 10, 16, 24, 83, 101, 38, 23, 33, 13, 56,...",28.955986
19,Axar Patel,DC,ALL,9.0,"[41, 39, 17, 58, 62, 37, 49, 33, 29, 23, 11, 4]",25.510800
20,Ashwin,DC,BALL,8.5,"[58, -2, 37, 56, 29, 41, 2, 35, 14, 31, 22, 33]",27.713448
21,Rabada,DC,BALL,10.0,"[62, 87, 82, 23, 114, 87, 62, 29, 37, 54, 72, ...",44.447044
22,Daniel Sams,DC,ALL,7.5,"[12, 0, 2]",4.035209
23,Nortje,DC,BALL,8.0,"[7, 56, 13, 87, 56, 29, 4, 54, 58, 54, 28, 25,...",46.298468
24,Mohit Sharma,DC,BALL,8.0,[23],23.000000
25,Amit Mishra,DC,BALL,8.5,"[14, 54, 29]",33.183711
26,Avesh Khan,DC,BALL,7.5,[0],0.000000
27,Ishant Sharma,DC,BALL,8.5,[4],4.000000
28,H Patel,DC,BALL,8.5,"[62, 0, 46, 2]",24.256509
29,Alex Carey,DC,WK,7.5,"[26, 20, 16]",20.008807
30,Rahane,DC,BAT,8.5,"[22, 14, 13, 10, 35, 93]",38.877958
31,Tushar Deshpande,DC,BALL,7.5,"[52, 27, -2, 11, 22]",19.456465

In [7]:
players_data = pd.get_dummies(data, columns=["Role", "Team"])
players_data

,Player,Cost,Match_points,weighted_player_points,Role_ALL,Role_BALL,Role_BAT,Role_WK,Team_DC,Team_MI
0,Rohit Sharma,9.5,"[18, 107, 22, 96, 20, 63, 3, 46, 23, 8]",32.262790,0,0,1,0,0,1
1,De Kock,9.0,"[42, 33, 19, 10, 99, 56, 75, 121, 80, 95, 12, ...",53.875599,0,0,0,1,0,1
2,S.Yadav,9.0,"[23, 59, 2, 32, 37, 106, 79, 23, 2, 20, 50, 11...",47.336002,0,0,1,0,0,1
3,Ishan Kishan,9.5,"[131, 35, 48, 2, 38, 4, 12, 96, 47, 34, 98, 42]",51.141609,0,0,0,1,0,1
4,S.Tiwary,8.0,"[51, 28, 4, 44, 17, 4, 5]",17.149272,0,0,1,0,0,1
5,Hardik Pandya,9.0,"[22, 50, 21, 41, 46, 46, 2, 30, 14, 4, 88, 25]",33.447745,1,0,0,0,0,1
6,Kieron Pollard,8.5,"[25, 51, 101, 62, 43, 36, 16, 12, 47, 4, 18, 3...",30.501393,1,0,0,0,0,1
7,Krunal Pandya,9.0,"[30, 5, 4, 29, 55, 14, 76, 6, 46, 14, 5, 15, 2...",17.597841,1,0,0,0,0,1
8,Pattinson,8.0,"[50, 54, -2, 54, 54, 56, -2, 48, 6, 6]",25.567131,0,1,0,0,0,1
9,Rahul Chahar,9.0,"[37, 54, 29, 54, 12, 29, 10, 58, 54, 56, -2, 3...",26.899936,0,1,0,0,0,1
10,Boult,9.5,"[29, 62, 54, 33, 54, 54, 35, 29, 6, 124, 2, 35...",48.843074,0,1,0,0,0,1
11,Bumrah,10.0,"[30, 54, 0, 58, 50, 114, 4, 31, 81, 54, 2, 93,...",60.236426,0,1,0,0,0,1
12,Coulter-Nile,8.5,"[23, 40, 29, 29, 5]",23.075735,0,1,0,0,0,1
13,P.Shaw,9.0,"[26, 87, 6, 90, 55, 27, 17, 2, 2, 10, 16, 23]",21.244332,0,0,1,0,1,0
14,Shikhar Dhawan,8.5,"[2, 44, 42, 44, 47, 18, 89, 79, 145, 144, 11, ...",52.295773,0,0,1,0,1,0
15,Hetmeyer,8.0,"[16, 12, 29, 21, 25, 84, 16, 16, 23, 16]",25.119501,0,0,1,0,1,0
16,Shreyas Iyer,9.5,"[57, 31, 23, 119, 24, 38, 59, 72, 30, 20, 56, ...",34.660832,0,0,1,0,1,0
17,Rishabh Pant,9.0,"[47, 68, 45, 57, 64, 17, 39, 43, 45, 27, 27]",38.053160,0,0,0,1,1,0
18,Marcus Stoinis,9.5,"[126, 10, 16, 24, 83, 101, 38, 23, 33, 13, 56,...",28.955986,1,0,0,0,1,0
19,Axar Patel,9.0,"[41, 39, 17, 58, 62, 37, 49, 33, 29, 23, 11, 4]",25.510800,1,0,0,0,1,0
20,Ashwin,8.5,"[58, -2, 37, 56, 29, 41, 2, 35, 14, 31, 22, 33]",27.713448,0,1,0,0,1,0
21,Rabada,10.0,"[62, 87, 82, 23, 114, 87, 62, 29, 37, 54, 72, ...",44.447044,0,1,0,0,1,0
22,Daniel Sams,7.5,"[12, 0, 2]",4.035209,1,0,0,0,1,0
23,Nortje,8.0,"[7, 56, 13, 87, 56, 29, 4, 54, 58, 54, 28, 25,...",46.298468,0,1,0,0,1,0
24,Mohit Sharma,8.0,[23],23.000000,0,1,0,0,1,0
25,Amit Mishra,8.5,"[14, 54, 29]",33.183711,0,1,0,0,1,0
26,Avesh Khan,7.5,[0],0.000000,0,1,0,0,1,0
27,Ishant Sharma,8.5,[4],4.000000,0,1,0,0,1,0
28,H Patel,8.5,"[62, 0, 46, 2]",24.256509,0,1,0,0,1,0
29,Alex Carey,7.5,"[26, 20, 16]",20.008807,0,0,0,1,1,0
30,Rahane,8.5,"[22, 14, 13, 10, 35, 93]",38.877958,0,0,1,0,1,0
31,Tushar Deshpande,7.5,"[52, 27, -2, 11, 22]",19.456465,0,1,0,0,1,0

In [8]:
# Initialize the optimization Problem 
prob = pulp.LpProblem('Dreamteam', pulp.LpMaximize)

In [9]:
# selection decision variables can be 0 or 1. The number of `selection_decision_varibales` should be equal to 
# the number of players under consideration
selection_decision_variables = []

In [10]:
for row in players_data.itertuples(index=True):
    variable_name = 'x_{}'.format(str(row.Index))
    variable = pulp.LpVariable(variable_name, lowBound = 0, upBound = 1, cat = 'Integer' ) 
    selection_decision_variables.append({"pulp_variable":variable, "Player": row.Player})
 
selection_decision_variables_df = pd.DataFrame(selection_decision_variables)

merged_players_data_df = pd.merge(players_data, selection_decision_variables_df, on = "Player")
merged_players_data_df["pulp_variable_name"] = merged_players_data_df["pulp_variable"].apply(lambda x: x.name)
display(selection_decision_variables_df)

   pulp_variable            Player
0            x_0      Rohit Sharma
1            x_1           De Kock
2            x_2           S.Yadav
3            x_3      Ishan Kishan
4            x_4          S.Tiwary
5            x_5     Hardik Pandya
6            x_6    Kieron Pollard
7            x_7     Krunal Pandya
8            x_8         Pattinson
9            x_9      Rahul Chahar
10          x_10             Boult
11          x_11            Bumrah
12          x_12      Coulter-Nile
13          x_13            P.Shaw
14          x_14    Shikhar Dhawan
15          x_15          Hetmeyer
16          x_16      Shreyas Iyer
17          x_17      Rishabh Pant
18          x_18    Marcus Stoinis
19          x_19        Axar Patel
20          x_20            Ashwin
21          x_21            Rabada
22          x_22       Daniel Sams
23          x_23            Nortje
24          x_24      Mohit Sharma
25          x_25       Amit Mishra
26          x_26        Avesh Khan
27          x_27     Ishant Sharma
28          x_28           H Patel
29          x_29        Alex Carey
30          x_30            Rahane
31          x_31  Tushar Deshpande

In [11]:
total_points = pulp.lpSum(merged_players_data_df["weighted_player_points"] * selection_decision_variables_df["pulp_variable"])
prob += total_points

display(prob)

Dreamteam:
MAXIMIZE
32.26279041111298*x_0 + 53.87559926064666*x_1 + 48.843073592318156*x_10 + 60.23642644988953*x_11 + 23.075735048076602*x_12 + 21.244332466660154*x_13 + 52.295772865013106*x_14 + 25.119501395326864*x_15 + 34.66083200675681*x_16 + 38.053160384981545*x_17 + 28.955986050739618*x_18 + 25.51079961301283*x_19 + 47.336002171190984*x_2 + 27.713448283156907*x_20 + 44.44704354651884*x_21 + 4.0352091471995655*x_22 + 46.29846810950313*x_23 + 23.0*x_24 + 33.18371056955661*x_25 + 4.0*x_27 + 24.256508532250248*x_28 + 20.00880668093301*x_29 + 51.141608674420006*x_3 + 38.87795775795014*x_30 + 19.456465312903795*x_31 + 17.14927221942746*x_4 + 33.44774473227448*x_5 + 30.501393210864112*x_6 + 17.597841453863442*x_7 + 25.56713145443954*x_8 + 26.899936468694634*x_9 + 0.0
VARIABLES
0 <= x_0 <= 1 Integer
0 <= x_1 <= 1 Integer
0 <= x_10 <= 1 Integer
0 <= x_11 <= 1 Integer
0 <= x_12 <= 1 Integer
0 <= x_13 <= 1 Integer
0 <= x_14 <= 1 Integer
0 <= x_15 <= 1 Integer
0 <= x_16 <= 1 Integer
0 <= x_17 <= 1 Integer
0 <= x_18 <= 1 Integer
0 <= x_19 <= 1 Integer
0 <= x_2 <= 1 Integer
0 <= x_20 <= 1 Integer
0 <= x_21 <= 1 Integer
0 <= x_22 <= 1 Integer
0 <= x_23 <= 1 Integer
0 <= x_24 <= 1 Integer
0 <= x_25 <= 1 Integer
0 <= x_27 <= 1 Integer
0 <= x_28 <= 1 Integer
0 <= x_29 <= 1 Integer
0 <= x_3 <= 1 Integer
0 <= x_30 <= 1 Integer
0 <= x_31 <= 1 Integer
0 <= x_4 <= 1 Integer
0 <= x_5 <= 1 Integer
0 <= x_6 <= 1 Integer
0 <= x_7 <= 1 Integer
0 <= x_8 <= 1 Integer
0 <= x_9 <= 1 Integer

In [12]:
# 1 <= n_keeper <= 4 
total_keepers = pulp.lpSum(merged_players_data_df["Role_WK"] * selection_decision_variables_df["pulp_variable"])
prob += (total_keepers >= 1)
prob += (total_keepers <= 4)

In [13]:
# 3 <= n_batsmen <= 6 
total_batsmen = pulp.lpSum(merged_players_data_df["Role_BAT"] * selection_decision_variables_df["pulp_variable"])
prob += (total_batsmen >= 3)
prob += (total_batsmen <= 6)

In [14]:
# 1 <= n_allrounders <= 4
total_allrounders = pulp.lpSum(merged_players_data_df["Role_ALL"] * selection_decision_variables_df["pulp_variable"])
prob += (total_allrounders >= 1)
prob += (total_allrounders <= 4)

In [15]:
# 3 <= n_bowlers <= 6
total_bowlers = pulp.lpSum(merged_players_data_df["Role_BALL"] * selection_decision_variables_df["pulp_variable"])
prob += (total_bowlers >= 3)
prob += (total_bowlers <= 6)

In [16]:
# maximum of 11 players
total_players = pulp.lpSum(selection_decision_variables_df["pulp_variable"])
prob += (total_players == 11)

In [17]:
# maximum fantasy budget of 100
total_cost = pulp.lpSum(merged_players_data_df["Cost"] * selection_decision_variables_df["pulp_variable"])
prob += (total_cost <= 100)

In [18]:
# we cannot pick more than 7 players from the same team
total_team1 = pulp.lpSum(merged_players_data_df["Team_MI"] * selection_decision_variables_df["pulp_variable"])
prob += (total_team1 <= 7)

total_team2 = pulp.lpSum(merged_players_data_df["Team_DC"] * selection_decision_variables_df["pulp_variable"])
prob += (total_team2 <= 7)

In [19]:
#display(prob)
#prob.writeLP('Dreamteam.lp')

#assert len(pulp.listSolvers(onlyAvailable=True)) > 0, "solvers not installed correctly - check - https://www.coin-or.org/PuLP/main/installing_pulp_at_home.html"
prob.solve()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/vishal/.local/lib/python3.8/site-packages/pulp/apis/../solverdir/cbc/linux/64/cbc /tmp/f587caa6bda6442597bc398fa23db08a-pulp.mps max timeMode elapsed branch printingOptions all solution /tmp/f587caa6bda6442597bc398fa23db08a-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 17 COLUMNS
At line 273 RHS
At line 286 BOUNDS
At line 319 ENDATA
Problem MODEL has 12 rows, 32 columns and 160 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 514.853 - 0.00 seconds
Cgl0004I processed model has 8 rows, 32 columns (32 integer (32 of which binary)) and 128 elements
Cbc0038I Initial state - 0 integers unsatisfied sum - 0
Cbc0038I Solution found of -514.853
Cbc0038I Before mini branch and bound, 32 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.00 seconds)
Cbc0038I After 0.00 seconds - Feasibility pump exiting with objective of -514.853 - took 0.00 seconds
Cbc0012I Integer solution of -514.85286 found by feasibility pump after 0 iterations and 0 nodes (0.00 seconds)
Cbc0001I Search completed - best objective -514.8528575447, took 0 iterations and 0 nodes (0.00 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -514.853 to -514.853
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                514.85285754
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

1

In [20]:
solutions_df = pd.DataFrame(
    [
        {
            'pulp_variable_name': v.name, 
            'value': v.varValue
        }
        for v in prob.variables()
    ]
)

result = pd.merge(merged_players_data_df, solutions_df, on = 'pulp_variable_name')
result = result[result['value'] == 1].sort_values(by = 'weighted_player_points', ascending = False)
display(result)
#selected_cols_final = ['player_name', 'team_name_CSK', 'team_name_MI', 'weighted_player_points']
#final_set_of_players_to_be_selected = result[selected_cols_final]
#display(final_set_of_players_to_be_selected)

,Player,Cost,Match_points,weighted_player_points,Role_ALL,Role_BALL,Role_BAT,Role_WK,Team_DC,Team_MI,pulp_variable,pulp_variable_name,value
11,Bumrah,10.0,"[30, 54, 0, 58, 50, 114, 4, 31, 81, 54, 2, 93,...",60.236426,0,1,0,0,0,1,x_11,x_11,1.0
1,De Kock,9.0,"[42, 33, 19, 10, 99, 56, 75, 121, 80, 95, 12, ...",53.875599,0,0,0,1,0,1,x_1,x_1,1.0
14,Shikhar Dhawan,8.5,"[2, 44, 42, 44, 47, 18, 89, 79, 145, 144, 11, ...",52.295773,0,0,1,0,1,0,x_14,x_14,1.0
3,Ishan Kishan,9.5,"[131, 35, 48, 2, 38, 4, 12, 96, 47, 34, 98, 42]",51.141609,0,0,0,1,0,1,x_3,x_3,1.0
10,Boult,9.5,"[29, 62, 54, 33, 54, 54, 35, 29, 6, 124, 2, 35...",48.843074,0,1,0,0,0,1,x_10,x_10,1.0
2,S.Yadav,9.0,"[23, 59, 2, 32, 37, 106, 79, 23, 2, 20, 50, 11...",47.336002,0,0,1,0,0,1,x_2,x_2,1.0
23,Nortje,8.0,"[7, 56, 13, 87, 56, 29, 4, 54, 58, 54, 28, 25,...",46.298468,0,1,0,0,1,0,x_23,x_23,1.0
21,Rabada,10.0,"[62, 87, 82, 23, 114, 87, 62, 29, 37, 54, 72, ...",44.447044,0,1,0,0,1,0,x_21,x_21,1.0
30,Rahane,8.5,"[22, 14, 13, 10, 35, 93]",38.877958,0,0,1,0,1,0,x_30,x_30,1.0
17,Rishabh Pant,9.0,"[47, 68, 45, 57, 64, 17, 39, 43, 45, 27, 27]",38.053160,0,0,0,1,1,0,x_17,x_17,1.0
5,Hardik Pandya,9.0,"[22, 50, 21, 41, 46, 46, 2, 30, 14, 4, 88, 25]",33.447745,1,0,0,0,0,1,x_5,x_5,1.0

In [1]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.6.0-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (9.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.4/9.4 MB 2.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.19 in /home/vishal/.local/lib/python3.8/site-packages (from matplotlib) (1.23.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.37.2-py3-none-any.whl (959 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 959.8/959.8 kB 2.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pyparsing>=2.2.1 in /home/vishal/.local/lib/python3.8/site-packages (from matplotlib) (3.0.9)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (295 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 295.9/295.9 kB 1.8 MB/s eta 0:00:00a 0:00:01
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 1.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: packaging>=20.0 in /home/vishal/.local/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib) (7.0.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/vishal/.local/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.14.0)
Installing collected packages: kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.5 cycler-0.11.0 fonttools-4.37.2 kiwisolver-1.4.4 matplotlib-3.6.0
Note: you may need to restart the kernel to use updated packages.